/* Container chính của SearchBar */
.searchbar-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;

}

/* Nhóm input và nút chức năng */
.searchbar-input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;

}

/* Style cho ô nhập tìm kiếm */
.searchbar-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #3e4446;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(21 31 46);
  color: #99a6b7;

}

/* Các style chung cho nút */
.searchbar-button {
  cursor: pointer;
  border: none;
  color: #fff;
  transition: background 0.3s;
  font-family: 'Quicksand', sans-serif;

}

/* Nút tìm kiếm */
.searchbar-search-button {
  padding: 10px 20px;
  background: rgb(119 122 158);
  border-radius: 0 5px 5px 0;
  font-family: 'Quicksand', sans-serif;
color: rgb(168 186 205);
}

.searchbar-search-button:hover {
  background: #d3d5f3;
}

/* Nút bật/tắt máy quét QR */
.searchbar-scanner-button {
  padding: 10px;
  background: #3db4f2;
  border-radius: 5px;
  margin-left: 10px;
  font-family: 'Quicksand', sans-serif;

}

.searchbar-scanner-button:hover {
  background:#58bff4;
}

/* Container cho máy quét */
.scanner-container {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;

}

/* Container cho máy quét sử dụng id do thư viện html5-qrcode */
#qr-reader {
  width: 100%;
  height: 100%;
}

/* Hướng dẫn bên dưới máy quét */
.scanner-instruction {
  text-align: center;
  margin-top: 10px;
  color: #96a5b4;
}

/* Nút quay lại */
.back-button {
  margin: 10px;
  padding: 10px 15px;
  background-color: rgb(21, 31, 46);
  color: rgb(159, 173, 189);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;

}